section {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.titleScreen {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem
}

.title {
    display: flex;
    flex-direction: column;
    height: 20rem;
}

.title h1 {
    font-size: 3.5rem;
    color: var(--opposite-color);
}

.title h2 {
    color: var(--opposite-color);
    margin-top: 1rem;
}

.options {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    align-items: center;
}

.option {
    background-color: rgb(121, 206, 255);
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    height: 5rem;
    width: 10rem;
    display: flex;;
    align-items: center;
    justify-content: center;
}

.option > a {
    text-decoration: none;
}

.homeDetails {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 1rem;
    font-weight: 600;
}

.homeDetails > div {
    display: flex;
    gap: 1rem;
}

.homeDetails button {
    text-decoration: none;
    background-color: var(--secondary-color);
    border: none;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}