main {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

iframe {
    max-width: 95%;
    width: 400px;
    height: 450px;
    display: block;

}

.games {
    margin: auto;
}

.slick-slider {
    max-width: 900px;
    margin: 0 auto;
}

.slick-list {
    max-height: 378px;
    overflow-y: hidden;
}

.slick-slide {
    overflow-x: hidden;
}

.slick-dots li.slick-active button::before {
    color: var(--opposite-color) !important;
}

.slick-dots {
    margin: 0 auto;
}