main {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

iframe {
    height: 450px;
    display: block;

}

.games {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slider {
    width: 900px;
}

.slick-list {
    overflow-y: hidden;
}

.slick-slide {
    overflow-x: hidden;
}

.slick-dots li.slick-active button::before {
    color: var(--opposite-color) !important;
}

.slick-dots {
    margin: 0 auto;
}

#watch > h2 {
    text-align: center;
}

@media (max-width: 1400px) {
    .slick-slider {
        max-width: 700px;
    }
}

@media (max-width: 1150px) {
    .slick-slider {
        max-width: 300px;
    }
    
    .slick-list {
        max-height: 370px;
        max-width: 285px;
    }
}

@media (max-width: 500px) {
    .slick-slider {
        max-width: 200px;
    }

    .slick-list {
        max-height: 290px;
    }
}